<router-outlet> 
  
<form>
  <div>
    <input type="text" #q placeholder="nom de l'emetteur">
    <button (click)="searchSender(q.value)">Rechercher</button>
  </div>
</form>
<br>
<div  *ngIf="messages?.length !== 0; then msgTemplate else emptyTemplate"></div>
     
          <ng-template #msgTemplate>
            <table id="table" class="table table-hover"  >
              <thead>
                  <tr>
                     
                  <th>Emetteur</th>
                  <th>message</th>
                  <th>Destinataire</th>
                  
                 
                                     
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor='let msg of messages' >
                      
                      <td>{{msg.emetteur}} </td>
                      <td>{{msg.contenu}} </td>
                      <td>{{msg.recepteurs}} </td>
                      
                                                                 
                  </tr>
              </tbody>
          </table>
          </ng-template>   
          <ng-template #emptyTemplate>   
             no Source with this name 
          </ng-template>
                
 
</router-outlet>
